<header>
  <nav class="bc-navbar">
    <div class="container-fluid d-flex">
      <ul class="navbar-nav me-auto">
        <li class="nav-item image-navbar">
          <a class="nav-link" href="{{ path('app_home') }}"
            ><img src="{{ asset('/assets/img/logo.jpeg') }}" alt="logo"
          /></a>
        </li>
      </ul>
      <ul class="navbar-nav nav-items">
        <div class="d-flex pt-2">
          {% if app.user == false %}

          <li class="nav-item me-3">
            <a class="nav-link" href="{{ path('app_register') }}"
              >Inscription</a
            >
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="{{ path('app_login') }}">connxion</a>
          </li>
          {% else %} {% if is_granted('ROLE_ADMIN') %}

          <li class="nav-item dropdown me-5">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Administration
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ path('app_all_user') }}"
                  >liste des inscrits</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('app_days_index') }}"
                  >Jour de travaille</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('app_level_index') }}"
                  >Les classes</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="{{ path('app_time_table_index') }}"
                  >Les horaires</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('app_matter_index') }}"
                  >Matières</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('app_work_space_all') }}"
                  >Elèves</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('app_work_space') }}"
                  >Choix des matières</a
                >
              </li>
            </ul>
          </li>
          {% endif %} {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item me-5 d-none">
            <a class="nav-link" href="{{ path('app_work_space') }}"
              >Choix des matières</a
            >
          </li>
          {% else %}
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ path('app_work_space') }}">Matières</a>
          </li>
          {% endif %}
          <li class="nav-item me-3">
            <a class="nav-link" href="{{ path('app_logout') }}">Deconnxion</a>
          </li>

          {% endif %}
        </div>
      </ul>
    </div>
  </nav>
</header>
