{% extends "base.html.twig" %} {% block title %}Tous les élèves{% endblock %} {%
block body %}
<div class="container">
  <h1 class="worspace mb-3">Liste des élèves inscrits</h1>
  {% for programme in programmes %}

  <h2 class="mb-3">Elève numero: {{ programme.id }}</h2>
  <table class="table table-success table-striped">
    <thead>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Contact</th>
      <th>Classe</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ programme.user.lastname }}</td>
        <td>{{ programme.user.firstname }}</td>
        <td>{{ programme.user.telephone }}</td>
        <td>{{ programme.level }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Emploi du temps</h3>
  <table class="table table-success table-striped">
    <thead>
      <th>Matières</th>
      <th>Jour de travail</th>
      <th>Heure de travaille</th>
    </thead>
    <tbody>
<<<<<<< HEAD
      {% for matter in workspace.matters %}

      <tr>
        <td>{{ matter.name }}</td>
      </tr>
      {% endfor %} {% for day in workspace.days %}
      <tr>
        <td>{{ day.name }}</td>
      </tr>
      {% endfor %} {% for time in workspace.timeTables %}
      <tr>
        <td>{{ time.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %} {# {{ knp_pagination_render(workspaces) }} #}
=======
      <td>
        {% for matter in programme.matter %}
        {{ matter }}
        <br />
        {% endfor %}
      </td>
      <td>
        {% for day in programme.days %}
        {{ day }}
        <br />
        {% endfor %}
      </td>
      <td>
        {% for time in programme.timeTable %}
        {{ time }}
        <br />
        {% endfor %}
      </td>
    </tbody>
  </table>
  <br />
  <br />
  {% endfor %}
  {{ knp_pagination_render(programmes) }}
>>>>>>> test
</div>

{% endblock %}
